$primary: #2680c0;
$primaryDark: rgb(0, 62, 107);
$primaryLight: hsl(205, 84%, 74%);
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBackground: #f1f5f8;
$mainOverlay: rgba(35, 10, 36, 0.4);
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #afafaf;
$mainRed: #bd0303;
$mainTransition: all 0.3s linear;
$mainSpacing: 0.3rem;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
$mainBorderRadius: 0.25rem;
$smallWidth: 85vw;
$maxWidth: 40rem;
$fullWidth: 1170px;
