.cart__info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cart__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5px;
    position: relative;
    padding: 5px;

    img {
      width: 25px;
      margin-right: 5px;
    }
    .cart__badge {
      position: absolute;
      font-size: 0.4rem;
      top: 0;
      border-radius: 50%;
      padding: 2px 5px;
      border: 1px solid #000;
      z-index: 10;
      background-color: #f0f0f0;
      right: 0;
    }
  }

  .cart__amount {
    margin-left: 10px;
    align-self: center;

    p {
      font-size: 0.75rem;
      font-weight: normal;
      font-style: italic;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 820px) {
  .cart__info {
    .cart__logo {
      padding: 10px;
      img {
        width: 35px;
      }

      .cart__badge {
        font-size: 0.8rem;
        padding: 2px 8px;
      }
    }
  }
}
